[submodule "Externals/SDL"]
	path = Externals/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "Externals/7zip"]
	path = Externals/7zip
	url = https://github.com/ip7z/7zip.git
[submodule "Externals/discord-rpc"]
	path = Externals/discord-rpc
	url = https://github.com/discord/discord-rpc.git
[submodule "Externals/cubeb"]
	path = Externals/cubeb
	url = https://github.com/mozilla/cubeb.git
[submodule "Externals/libpng"]
	path = Externals/libpng
	url = https://github.com/pnggroup/libpng.git
[submodule "Externals/libusb"]
	path = Externals/libusb
	url = https://github.com/libusb/libusb.git
[submodule "Externals/zlib"]
	path = Externals/zlib
	url = https://github.com/madler/zlib.git
[submodule "Externals/rcheevos"]
	path = Externals/rcheevos
	url = https://github.com/RetroAchievements/rcheevos.git
[submodule "Externals/hidapi"]
	path = Externals/hidapi
	url = https://github.com/libusb/hidapi.git
[submodule "Externals/SFML"]
	path = Externals/SFML
	url = https://github.com/SFML/SFML.git
[submodule "Externals/curl"]
	path = Externals/curl
	url = https://github.com/curl/curl.git
[submodule "Externals/Vulkan-headers"]
	path = Externals/Vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Externals/FFmpeg"]
	path = Externals/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "Externals/imgui"]
	path = Externals/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "Externals/rapidjson"]
	path = Externals/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "Externals/openal-soft"]
	path = Externals/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "Externals/lodepng"]
	path = Externals/lodepng
	url = https://github.com/lvandeve/lodepng.git
[submodule "Externals/VulkanMemoryAllocator"]
	path = Externals/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
